html {
    background-color: tan;
}

.logo-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: cover;
    margin-left: 0;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: 20px;
    min-width: 200px;
    max-width: 100%;
}

.item {
    font-size: medium;
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.item:hover {
    background-color: saddlebrown;
    color: white;
    border-radius: 10px;
    background-size: cover;
    transition: 0.3s ease-in-out;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 10;
    min-width: 200px;
    max-width: 100%;
}

header h1 {
    font-weight: bold;
    font-size: 1.8rem;
    color: chocolate;

}

.decoration {
    list-style-type: square;
    padding-left: 20px;
}

.text {
    margin-bottom: 1px;
    font-size: 18px;
    line-height: 1, 5;
    text-align: justify;
    padding: 0 10px;
    margin: 0 10px;
    font-family: 'Courier New', Courier, monospace;
}

.text1 {
    margin-bottom: 1px;
    font-size: 20px;
    line-height: 1, 5;
    text-align: justify;
    padding: 0 10px;
    margin: 0 20px;
    font-family: 'macondo', cursive;
}

.text2 {
    margin-bottom: 1px;
    font-size: 21px;
    line-height: 1, 5;
    text-align: center;
    padding: 0 10px;
    margin: 0 20px;
    font-family: 'macondo', cursive;
    font-weight: bold;
}

.bowie {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 16px;
}

.bowie img {
    flex: 1;
    min-width: 200px;
    max-width: 100%;
    height: auto;
    width: 50%;
}

.bowie2 {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 20px;
}

.bowie1 {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 20px;
}

.bowie4 {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 20px;
}

.bowie3 {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 20px;
}